    <!-- Profile Details view Form-->
    <div class="navbar-main">
      <app-navbar></app-navbar>
    </div>

    <div class="box-wrapper" *ngIf="viewMode; else editable">
      <div id="box3" *ngIf="currentPeople.id" >

        <div id="box4">
          <div class="profile-sections">
            <ul><button class="but"><i class="fa fa-rocket"></i>Basic Info</button></ul>
            <ul><button class="but"><i class="fa fa-file"></i>Salary Info</button></ul>
            <ul><button class="but"><i class="fa fa-cube"></i>Job Description</button></ul>
            <ul><button class="but"><i class="fa fa-user"></i>KPIs</button></ul>
            <ul><button class="but"><i class="fa fa-user"></i>Appraisals</button></ul>
            <ul><button class="but"><i class="fa fa-bell"></i>Leave</button></ul>
            <ul><button class="but"><i class="fa fa-wrench"></i>Employment Timeline</button></ul>
            <ul><button class="but"><i class="fa fa-times-circle"></i>Payroll History</button></ul>
          </div>
        </div>

        <div class="middle-column">
          <div id="box5">
            <div id="box8">
              <td><img [src]="currentPeople.imagePath" class="pro-pic"></td>
              <td>
                <li class="name">{{ currentPeople.first }} {{ currentPeople.last }}</li>
                <li class="role">{{ currentPeople.function }}</li>
              </td>
            </div>
          </div>

          <div id="box6" >
            <h3 class="basic">Basic Info <button class="btn btn-active" routerLink="/people/{{ currentPeople.id }}">
              Edit
            </button></h3>
            <table class="info" >
              <tr>
                <td class="txt">First Name</td>
                <td class="txt">Last Name</td>
              </tr>
              <tr>
                <td><label class="inp">{{ currentPeople.first }}</label></td>
                <td><label class="inp">{{ currentPeople.last }}</label></td>
              </tr>
              <tr>
                <td class="txt">I'm</td>
                <td class="txt">Birth Date</td>
              </tr>
              <tr>
                <td><label class="inp">{{ currentPeople.im }}</label></td>
                <td><label class="inp">{{ currentPeople.birth }}</label></td>
              </tr>
              <tr>
                <td class="txt">Email Address</td>
                <td class="txt">Confirmation Email</td>
              </tr>
              <tr>
                <td><label class="inp">{{ currentPeople.email }}</label></td>
                <td><label class="inp">{{ currentPeople.confirm }}</label></td>
              </tr>
              <tr>
                <td class="txt">Your Location</td>
                <td class="txt">Phone Number</td>
              </tr>
              <tr>
                <td><label class="inp">{{ currentPeople.location }}</label></td>
                <td><label class="inp">{{ currentPeople.pno }}</label></td>
              </tr>
              <!--<button class="btn btn-success">Submit</button>-->
            </table>



            <!--<div>
              <h4>Account updated!</h4>
              <button class="btn btn-success">Edit</button>
            </div>-->
          </div>
        </div>
      </div>
    </div>



    <!-- Proile Edit Form-->
    <ng-template #editable>
      <div class="box-wrapper" *ngIf="isLoggedIn">
        <div id="box3" *ngIf="currentPeople.id" >

          <div id="box4">
            <div class="profile-sections">
              <ul><button class="but"><i class="fa fa-rocket"></i>Basic Info</button></ul>
              <ul><button class="but"><i class="fa fa-file"></i>Salary Info</button></ul>
              <ul><button class="but"><i class="fa fa-cube"></i>Job Description</button></ul>
              <ul><button class="but"><i class="fa fa-user"></i>KPIs</button></ul>
              <ul><button class="but"><i class="fa fa-user"></i>Appraisals</button></ul>
              <ul><button class="but"><i class="fa fa-bell"></i>Leave</button></ul>
              <ul><button class="but"><i class="fa fa-wrench"></i>Employment Timeline</button></ul>
              <ul><button class="but"><i class="fa fa-times-circle"></i>Payroll History</button></ul>
            </div>
          </div>
          <div class="middle-column">
            <div id="box5">
              <div id="box8">
                <td><img [src]="currentPeople.imagePath" class="pro-pic"></td>
                <td>
                  <li class="name">{{ currentPeople.first }} {{ currentPeople.last }}</li>
                  <li class="role">{{ currentPeople.function }}</li>
                </td>
              </div>
            </div>

            <div id="edit-box6" >
              <h3 class="basic">Basic Info</h3>
              <table class="info" >
                <tr>
                  <td class="txt">First Name</td>
                  <td class="txt">Last Name</td>
                </tr>
                <tr>
                  <td><input
                    type="text"
                    class="edit-inp"
                    id="first"
                    [(ngModel)]="currentPeople.first"
                    name="first"
                  /></td>
                  <td><input
                    type="text"
                    class="edit-inp"
                    id="last"
                    [(ngModel)]="currentPeople.last"
                    name="last"
                  /></td>
                </tr>
                <tr>
                  <td class="txt">I'm</td>
                  <td class="txt">Birth Date</td>
                </tr>
                <tr>
                  <td>
                    <select
                    type="text"
                    class="edit-inp"
                    id="im"
                    [(ngModel)]="currentPeople.im"
                    name="im">
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                      <option value="Other">Other</option>
                    </select>
                  </td>
                  <td><input
                    type="date"
                    class="edit-inp"
                    id="birth"
                    [(ngModel)]="currentPeople.birth"
                    name="birth"
                  /></td>
                </tr>
                <tr>
                  <td class="txt">Email Address</td>
                  <td class="txt">Confirmation Email</td>
                </tr>
                <tr>
                  <td><input
                    type="email"
                    class="edit-inp"
                    id="email"
                    [(ngModel)]="currentPeople.email"
                    name="email"
                  /></td>
                  <td><input
                    type="email"
                    class="edit-inp"
                    id="confirm"
                    [(ngModel)]="currentPeople.confirm"
                    name="confirm"
                  /></td>
                </tr>
                <tr>
                  <td class="txt">Your Location</td>
                  <td class="txt">Phone Number</td>
                </tr>
                <tr>
                  <td><input
                    type="text"
                    class="edit-inp"
                    id="location"
                    [(ngModel)]="currentPeople.location"
                    name="location"
                  /></td>
                  <td><input
                    type="text"
                    class="edit-inp"
                    id="pno"
                    [(ngModel)]="currentPeople.pno"
                    name="pno"
                  /></td>
                </tr>
                <!--<button class="btn btn-success">Submit</button>-->
              </table>

              <button
                type="submit"
                class="btn btn-update"
                (click)="updatePeople()"
              >
                Update
              </button>
              <p class="msg">{{ message }}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
