.card {
  border-radius: 20px;
  height: 740px;
  width: 1300px;
  margin-top: 50px;
}

.logo {
  height: 100px;
  width: 100px;
  margin-left: 150px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 1px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-right: 10px;
}

.title {
  text-align: left;
  font-weight: 500px;
  font-size: 18px;
  width: 145px;
  background-color: #ffffff;
  border: none;
  margin-bottom: 30px;
}

#btn {
  border-color: #ff0030;
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
}

.btn-danger{
  height: 50px;
  font-size: 18px;
  margin-top: 10px;
}

.text {
  margin-top: 15px;
  text-align: left;
}

.signup-form-inp {
  height: 50px;
  border-style: solid;
  border: 1px solid #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=email]:focus {
  border: 3px solid #ff0030;
}

.login-form {
  margin-left: 150px;
  align-items: center;
  margin-bottom: 70px;
  width: 450px;
}

#link {
  margin-top: 2px;
  text-align: right;
  font-size: 14px;
}

.pt-4 a {
  text-decoration: none;
  color: #ff0030;
}

#btn-login {
  border-color: #ff0030;
  background-color: #ff0030;
  color: #000000;
  border-radius: 5px;
  align-self: center;
}

.login-img {
  align-self: center;
  float: right;
  width: 620px;
  height: 740px;
}

#link-signup {
  margin-top: 2px;
  text-align: left;
  font-size: 14px;
}

h6 {
  text-align: left;
  color: #878e97;
}

.l-email{
  margin-bottom: 10px;
}

.login {
  color: #ff0030;
  text-decoration: none;
}

.txt {
  color: #878e97;
  font-weight: bold;
  margin-top: 80px;
  text-align: center;
}

.btn-outline-danger
{
  border-radius: 25px;
}
