  <div class="row" >
    <div class="navbar-main">
      <app-navbar></app-navbar>
    </div>
    <div class="col-sm-12" *ngIf="isLoggedIn">
      <div>
          <nav aria-label="breadcrumb" class="title">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Employees</li>
                <li class="breadcrumb-item">People</li>
              </ol>
          </nav>

          <p class="people-text">People</p>
          <button type="button" class="btn btn-active">ACTIVE</button>
          <button type="button" class="btn btn-deactive" routerLink="/list-view-deactive">DEACTIVATED</button>
      </div>

      <div class="card text-center">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr class="tr-d">
                <th>NAME</th>
                <th>Job Title</th>
                <th>DEPARTMENT</th>
                <th>LINE MANAGER</th>
                <th>EMAIL</th>
                <th>TELEPHONE</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr class="t-data">
                <td class="name-d">
                  <div class="detail">
                    <div class="col-10" *ngFor="let people of peoples; let i = index"
                      [class.active]="i == currentIndex"
                      (click)="setActivePeople(people, i)"><img [src]="people.imagePath" class="user"/>{{ people.first }} {{ people.last }}
                    </div>
                  </div>
                </td>
                <td class="name-d">
                  <div class="detail">
                    <div class="col-10" *ngFor="let people of peoples; let i = index"
                      [class.active]="i == currentIndex"
                      (click)="setActivePeople(people, i)">{{ people.function }}
                    </div>
                  </div>
                </td>
                <td class="name-d">
                  <div class="detail">
                    <div class="col-10" *ngFor="let people of peoples; let i = index"
                      [class.active]="i == currentIndex"
                      (click)="setActivePeople(people, i)">{{ people.department }}
                    </div>
                  </div>
                </td>
                <td class="name-d">
                  <div class="detail">
                    <div class="col-10" *ngFor="let people of peoples; let i = index"
                      [class.active]="i == currentIndex"
                      (click)="setActivePeople(people, i)">{{ people.linemanager }}
                    </div>
                  </div>
                </td>
                <td class="name-d">
                  <div class="detail">
                    <div class="col-10" *ngFor="let people of peoples; let i = index"
                      [class.active]="i == currentIndex"
                      (click)="setActivePeople(people, i)">{{ people.email }}
                    </div>
                  </div>
                </td>
                <td class="name-d">
                  <div class="detail">
                    <div class="col-10" *ngFor="let people of peoples; let i = index"
                      [class.active]="i == currentIndex"
                      (click)="setActivePeople(people, i)">{{ people.pno }}
                    </div>
                  </div>
                </td>
                <td class="name-d">
                  <div class="detail">
                    <div class="col-10" *ngFor="let people of peoples; let i = index"
                      [class.active]="i == currentIndex"
                      (click)="setActivePeople(people, i)"><button class="btn btn-view" routerLink="/people/{{ currentPeople.id }}">View Details</button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--<div>
      <app-people
        [viewMode]="true"
        [currentPeople]="currentPeople"
      ></app-people>
    </div>-->
  </div>

  <!--<div>
    <div>
      <app-people
        [viewMode]="true"
        [currentPeople]="currentPeople"
      ></app-people>
    </div>
  </div>-->


