.card {
  border-radius: 20px;
  height: 740px;
  width: 1300px;
  margin-top: 50px;
}

.logo {
  height: 100px;
  width: 100px;
  margin-left: 150px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.title {
  font-weight: bolder;
  font-size: 30px;
}

#btn {
  border-color: #ff0030;
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
}

.btn-danger{
  border-radius: 25px;
}

.text {
  margin-top: 15px;
  text-align: left;
}

.signup-form-inp {
  border-radius: 25px;
  border-style: solid;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
/*
input[type=email]:focus,
input[type=password]:focus {
  border: 3px solid #ff0030;
}*/

.login-form {
  margin-left: 150px;
  align-items: center;
  margin-bottom: 70px;
  width: 350px;
}

#link {
  margin-top: 2px;
  text-align: right;
  font-size: 14px;
}

.pt-4 a {
  text-decoration: none;
  color: #ff0030;
}

#btn-login {
  border-color: #ff0030;
  background-color: #ff0030;
  color: #000000;
  border-radius: 5px;
  align-self: center;
}

.login-img {
  align-self: center;
  float: right;
  width: 620px;
  height: 740px;
}

#link-signup {
  margin-top: 2px;
  text-align: left;
  font-size: 14px;
}

h6 {
  text-align: center;
  color: #b7b7b7;
}

.login {
  color: #ff0030;
  text-decoration: none;
}

.txt {
  color: #000;
  font-weight: bold;
  margin-top: 5px;
}

.btn-outline-danger
{
  border-radius: 25px;
}
