<div class="row mt-4">
  <div class="col-md-1">

  </div>
  <div class="col-md-10">
      <div class="card">
          <div class="row">
              <div class="col-md-6">
                  <img class="logo" src="../../../assets/logo.jpg">

                  <form class="row g-3 signup-form">
                      <h3 class="signup-text">Sign up</h3>
                      <div class="col-md-6 ">
                        <input type="text" class="form-control signup-form-inp" id="inputEmail4" placeholder="First Name*"
                        required>
                      </div>
                      <div class="col-md-6">
                          <input type="text" class="form-control signup-form-inp" id="inputEmail4" placeholder="Last Name*"
                          required>
                        </div>
                      <div class="col-12">
                        <input type="email" class="form-control signup-form-inp" id="inputAddress" placeholder="Email*"
                        required>
                      </div>
                      <div class="col-12">
                          <input type="password" class="form-control signup-form-inp" id="inputAddress" placeholder="Create Password*"
                          required>
                        </div>
                        <p class="txt">Password must be at least 8 characters long.</p>

                      <div class="d-grid gap-2">
                          <button class="btn btn-danger" type="button">Sign Up</button>
                        </div>
                        <p class="txt">Already a member?<a routerLink="/login" class="login"> Sign In </a></p>
                    </form>
              </div>
              <div class="col-md-6 right-signup">
                  <div class="orange-sq"></div>
                  <div class="yellow-sq"></div>
                  <div class="t-sq2"></div>
                  <div class="t-sq1"></div>
                  <img class="signup-img2" src="../../../assets/signup-img2.jpg">

                  <div class="r-text">
                      <h3>Explore your <br>creativity</h3>
                      <p>Discover new skills,meet passionate teachers<br>
                      and become a part of the most helpful community<br>
                      of creatives in the world.</p>
                  </div>
                  <div class="row">
                      <div class="col">
                          <div class="blue-sq1"></div>
                      </div>
                      <div class="col">
                          <img class="signup-img1" src="../../../assets/signup-img1.png">
                      </div>
                      <div class="col">
                          <div class="blue-sq2"></div>
                      </div>
                      <!-- <div class="col">
                          <div class="black-sq1"></div>
                      </div> -->
                      <div class="col">
                          <div class="blue-sq3"></div>
                      </div>
                      <div class="col">
                          <div class="blue-sq4"></div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>
  <div class="col-md-1">

  </div>
</div>


<!-- <div class="card mt-4" style="width: 18rem;">
<div class="card-body">
  <h5 class="card-title">Card title</h5>
  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  <a href="#" class="card-link">Card link</a>
  <a href="#" class="card-link">Another link</a>
</div>
</div> -->
