.card{
  border-radius: 20px;
  height: 740px;
  /* margin-top: 70px; */
}


.logo{
  height: 100px;
  width: 100px;
  margin-left: 100px;
  margin-top: 40px;
  margin-bottom: 50px;
}


.signup-form{
  margin-left: 100px;
  align-items: center;
  margin-bottom: 70px;
  width: 400px;
}

.signup-form-inp{
  border-color: rgb(0, 0, 0);
  border-radius: 1;
}

.signup-text {
  font-weight: 900;
}

/* .signup-text{
  font-family: pop;
} */

.right-signup{
  /* text-align: center; */
  /* align-content: center; */
  align-self: center;
  float: right;
  background-color:#0056FB;
  height: 740px;
  color: rgb(255, 255, 255);
  border-radius: 0px 20px 20px 0px;
  /* width: fit-content; */
  /* background-color: rgb(34, 17, 211);
  color: rgb(255, 255, 255); */

}

.r-text{
  margin-left: 180px;
  margin-top: -100px;
}

.r-text h3 {
  font-size: 40px;
}

.orange-sq{
  width: 100px;
  height: 150px;
  background-color:#FFB91D;
  /* -ms-transform: rotate(20deg);
  transform: rotate(20deg);
  margin-left: -10px; */
  -ms-transform: skewY(20deg); /* IE 9 */
  transform: skewY(20deg);
  margin-left: -50px;
  /* margin-top: -50px; */
  border-radius: 5px;
  margin-top: 30px;
}


.yellow-sq{
  width: 50px;
  height: 70px;
  background-color:#FFD766;
  margin-top: -140px;
  /* -ms-transform: rotate(20deg);
  transform: rotate(20deg);
  margin-left: -10px; */
  -ms-transform: skewY(20deg); /* IE 9 */
  transform: skewY(20deg);
  margin-left: 65px;
  /* margin-top: -250px; */
  border-radius: 5px;
}

.signup-img1{
  width:150px;
  height: 200px;
  background-color: rgb(10, 40, 54);
  /* -ms-transform: rotate(20deg);
  transform: rotate(20deg);
  margin-left: -10px;
  margin-top: 10px; */
      -ms-transform: skewY(20deg); /* IE 9 */
  transform: skewY(20deg);
  margin-left: -200px;
  border-radius: 3px;
  margin-top: -20px;
  /* margin-top: 100px; */

}

.blue-sq1{
  width:150px;
  height: 200px;
  background-color:#B6D3FF;
  /* -ms-transform: rotate(20deg);
  transform: rotate(20deg);
  margin-left: -10px;
  margin-top: 10px; */
      -ms-transform: skewY(20deg); /* IE 9 */
  transform: skewY(20deg);
  /* margin-left: -40px; */
  border-radius: 3px;
  margin-left: -30px;
  margin-top: 20px;
  /* margin-top: 40px; */
  /* margin-left: -8px;
  margin-top: -140px; */
  /* margin-top: -150px; */
}

.blue-sq2{
  width:50px;
  height: 70px;
  background-color:#B6D3FF;
  /* -ms-transform: rotate(20deg);
  transform: rotate(20deg);
  margin-left: -10px;
  margin-top: 10px; */
      -ms-transform: skewY(20deg); /* IE 9 */
  transform: skewY(20deg);
  /* margin-left: -40px; */
  border-radius: 3px;
  margin-top: 120px;
  margin-left: -150px;
  /* margin-left: 300px; */
  /* margin-left: -40px;
  margin-top: 50px; */
}

.black-sq1{
  width:100px;
  height: 100px;
  background-color:#B6D3FF;
  -ms-transform: skewY(20deg); /* IE 9 */
  transform: skewY(20deg);
  border-radius: 3px;
  margin-top: 60px;
  margin-left: 30px;

}

/* .black-sq2{
  width:45px;
  height: 70px;
  background-color: rgb(18, 83, 175);
  -ms-transform: skewY(20deg);
  transform: skewY(20deg);
  border-radius: 3px;
  margin-top: 90px;

} */

/* .black-sq3{
  width:60px;
  height: 80px;
  background-color: rgb(18, 83, 175);
  -ms-transform: skewY(20deg);
  transform: skewY(20deg);
  border-radius: 3px;
  margin-top: 120px;
  margin-left: -20px;

} */


.signup-img2{
  width: 140px;
  height: 190px;
  margin-left: 505px;
  margin-top: -270px;
  -ms-transform: skewY(20deg); /* IE 9 */
  transform: skewY(20deg);
  border-radius: 3px;
}

.t-sq1{
  background-color: #013aae;
  width: 150px;
  height: 180px;
  -ms-transform: skewY(20deg); /* IE 9 */
  transform: skewY(20deg);
  border-radius: 3px;
  margin-left: 520px;
  margin-top: 10px;
}

.t-sq2{
  background-color: #013aae;
  width: 50px;
  height: 70px;
  -ms-transform: skewY(20deg); /* IE 9 */
  transform: skewY(20deg);
  border-radius: 3px;
  margin-left: 650px;
  margin-top: -120px;
  z-index: 1;
}

.login {
  color: #ff0030;
  text-decoration: none;
}

.txt {
  color: #000;
  font-weight: bold;
}
